@font-face {
  font-family: "Thunder";
  src: url("https://cdn.bio/assets/fonts/thunder/Thunder-BoldLC.eot"); /* IE9 Compat Modes */
  src: url("https://cdn.bio/assets/fonts/thunder/Thunder-BoldLC.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.bio/assets/fonts/thunder/Thunder-BoldLC.woff")
      format("woff"),
    url("https://cdn.bio/assets/fonts/thunder/Thunder-BoldLC.woff2")
      format("woff2"),
    url("https://cdn.bio/assets/fonts/thunder/Thunder-BoldLC.ttf")
      format("truetype");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: transparent;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  /* background-color: rgba(255, 0, 0, 0.1); */
  background-color: grey;
  width: 100vw;
  height: 100vh;
  /* width: min(100vw, calc(1.78 * 100vh));
  height: min(100vh, calc(0.5625 * 100vw)); */
  position: relative;
}

.video-frame {
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay-color-success,
.overlay-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-color {
  /* mix-blend-mode: color; */
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.overlay-color-success {
  background-color: rgba(var(--primary-celeste), 1);
  border-radius: 100%;
  transition: transform 1.5s ease-out;
}

.breathing {
  animation-name: breathing;
  animation-iteration-count: infinite;
  --color: 255, 0, 106;
  --color: 0, 157, 255;
  --color: var(--primary-pink);
  /* color: rgb(0, 157, 255) */
}

.success {
  animation-name: breathing;
  --color: var(--primary-celeste);
  mix-blend-mode: normal;
  /* background-color: rgba(var(--color), 1); */
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* svg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
} */

svg > text {
  font-family: Thunder, "Poppins", Arial;
  text-transform: uppercase;
  font-weight: 500;
  fill: black;
  transition: transform 700ms ease;
  transition-delay: 1000ms;
}

@keyframes breathing {
  0% {
    background-color: rgba(var(--color), 0.2);
  }
  55% {
    background-color: rgba(var(--color), 0.2);
  }
  75% {
    background-color: rgba(var(--color), 1);
  }
  100% {
    background-color: rgba(var(--color), 0.2);
  }
}

/* .app {
}

main {
  width: 100%;
  position: relative;
}

.videoFrame,
.controls {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vmin;
  height: 100%;
  aspect-ratio: 16/9;
  min-height: 480px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vmin;
}

.video-frame {
  border: none;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.controls {
  animation: breathing 2.5s ease-out infinite normal;
  mix-blend-mode: add;
}

@keyframes breathing {
  0% {
    background-color: rgba(6, 50, 246, 0.1);
  }
  25% {
    background-color: rgba(23, 92, 255, 0.4);
  }
  60% {
    background-color: rgba(6, 50, 246, 0.1);
  }
  100% {
    background-color: rgba(6, 50, 246, 0.1);
  }
} */
