#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: transparent;
  font-family: sans-serif;
}

.heat-map {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
