@font-face {
  font-family: "Thunder";
  src: url(./assets/Thunder-BoldLC.ttf) format("truetype"),
    url(./assets/Thunder-BoldLC.woff2) format("woff");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

:root {
  color: black;
  background-color: transparent;

  --primary-pink: 255, 147, 192;
  --primary-celeste: 146, 227, 227;
}
